/.idea
/vendor
/node_modules
/storage/*.key
/storage/*.log
/storage/*.cache
/.env
/.env.local
/.env.*.local
/.phpunit.result.cache
npm-debug.log
yarn-error.log
dist
public/storage
coverage
backend/public/storage
backend/storage/logs/*
backend/bootstrap/cache/*.php